@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #AFA8BA;
  font-family: 'Roboto', sans-serif;
}

#container {
  width: 1300px;
  padding: 2rem;
  background-color: #1D154A;
  margin: 5% 0;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 46px 14px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 46px 14px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, 0.25);
  color: white;
}
